.shell.blue.schedule-shell
    #schedule.anchor
    .container
        .subsection.row.content
            .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1.content
                h2 Schedule
                p Our schedule for HackNC! Click ____ for our complete list of workshops

                
            .col-md-4
                h3 Friday
                table#friday(style="width:100%")
                            
            .col-md-4
                h3 Saturday
                table#saturday(style="width:100%")
                    
            .col-md-4
                h3 Sunday
                table#sunday(style="width:100%")